
body {
    background-color: #F0ECCF;
    margin: 0;
    text-align: center;
    font-family: "Merriweater", serif;
    font-size: 200%;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color:#EAF6F6 ;
    border-width: 10px;
    width: 5%;
}

a {
    color: #61876E;
    margin: 20px 10px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 1.75rem;
    padding: 20px 0;
}

.muneeb {
    height: 400px;

}

h1 {
    font-size: 5.625rem; /*<-- 90px <-- 90/16= 5.625 */
    color: #3C6255;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    
}

h2 {
    color: #227C70;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; /*<-- 40px <-- 40/16=2.5rem* 1em=16px*/
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat' sans-serif;
    color: #439A97;
}

.skill-row {
    width: 50%;
    margin: 100 auto 100 auto;
    text-align: left;
    line-height: 2;
}

.bottom-container{
    background-color: #3C6255;
    padding: 50px 0 1;
}
p {
    /* color: #285430; */
    margin-top: 0;
    line-height: 2;
}

.top-container {
    background-color: #939B62;
}



.middle-container {
    margin: 100px 0;
    

}
.bottom-container {
    
    
    
    
}
.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;

}

.bottom-cloud {
    position: relative;
    bottom: 250px;
    right: 600px;
}
.top-cloud {
    position: relative;
    left: 300px;
}

.mountain {
    position: relative;
    left: 60px;
    
}

.Gaming {
    width: 25%;
    float: right;
    margin-left: 70px;
    margin-top: 70px;
}



.sleep {
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
    text-decoration: none;
}